h2 {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 20px;
    color: #000000;
  }
  
  table {
    border-collapse: collapse;
    margin-left: 25%;
    margin-bottom: 30%;
    width: 60%;
    padding-right: 20%;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  